*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header{
    width: 100vw;
    padding: 10px;
    background: #dedede;
} */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop{
    display: flex;
    flex-wrap: wrap;
}
.product{
    margin: 10px;
    padding: 5px 10px;
    background: rgba(228, 228, 228, 0.436);
    width: 120px;

    box-shadow: 5px 5px 10px silver;
}
.product * {
    margin-bottom: 10px;
}
.product button{
    width: 100%;
    padding: 5px 0;
    background: rgb(206, 232, 167);
    border: none;
    box-shadow: 0 0 10px silver;
}
.product button:hover{
    box-shadow: inset 0 0 10px silver;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form *{
    margin-bottom: 10px;
}


/* ---------final---------- */

.container.final{
    margin: 5% auto;
    padding: 10px;
    border: 2px solid silver;
}
.container.final *{
    margin-bottom: 20px;
}

.container.final h2{
    border-bottom: 2px solid silver;
}