*{
  margin: 0;
  padding: 0;
  border: 0;
}
.block{
  display: flex;
  height: 100vh;
}
.select-container{
  width: 30vw;
  background: rgb(240, 240, 240);
  border: 1px solid silver;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  padding: 20px;
}
.btn{
  padding: 10px 20px;
  background: rgb(97, 255, 97);
}
.btn:hover{
  background: rgb(172, 255, 172);
}
.select-container *{
  font-size: 30px;
  margin: 0 0 10px;
}
.container{
  width: 70vw;
  /* background: silver; */
}
.dog-photo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dog-photo img{
  max-width: 500px;
}



/* -------- */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 0%;
  left: 50%;
  transform: translateX(20%);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}