* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

li {
  list-style: none;
}

input {
  width: 100%;
  border: none;
}

input:focus {
  outline: none;
}

input,
label,
button {
  display: block;
}

label,
button {
  padding: 20px;
  border: 1px solid silver;
}

button {
  background: transparent;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  background: #2a2731;
  color: white;
  padding: 20px 0;
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: tomato;
  font-size: 20px;
}

.login-container button{
  border: none;
  padding: 0;
}
.header i::before{
  font-size: 30px;
  color: white;
}
.user-action{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mini-cart {
  border: none;
  color: white;
  font-size: 30px;
  position: relative;
  padding: 0;

  cursor: pointer;
}

.mini-cart::before {
  content: attr(data-count);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: tomato;
  color: white;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 50%;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product.pr {
  border: 2px solid silver;
  padding: 10px;
  width: 200px;
  position: relative;
  margin: 5px;
}

.product-img {
  width: 100%;
  height: 200px;
  padding: 20px;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.product-title {
  margin-bottom: 20px;
}

.product-price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .product-price {}
.add-cart {} */
.add-cart:hover {
  background: green;
  color: white;
  cursor: pointer;
}

.product-category {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  background: purple;
  color: white;
}

/* cart */
.cart {
  position: fixed;
  z-index: 1000;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 50px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
  background: white;
}

.cart-close-btn {
  width: 30px;
  height: 30px;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;
}

.cart-close-btn:hover {
  background-color: rgb(255, 63, 63);
  color: white;
}

.cart-prods {
  padding-bottom: 20px;
  border-bottom: 5px solid silver;
  margin-bottom: 10px;
}

.cart-prod {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.cart-prod>* {
  margin-right: 10px;
}

.cart-prod:nth-child(odd) {
  background: #f8f8f8;
}

.cart-prod-number {
  font-size: 12px;
  font-weight: bold;
}

.cart-prod-title {
  max-width: 200px;
  max-height: 35px;
  overflow: hidden;
}

.cart-prod-qty {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.cart-prod-qty-spinner {
  padding: 10px;
  cursor: pointer;
}

.cart-prod-qty-spinner:hover {
  color: green;
}

/* .spinner-plus {}
.spinner-minus {} */

.cart-prod-qty input {
  width: 30px;
  height: 30px;
  text-align: center;
  background: transparent;
  border: 1px solid silver;
}

.cart-prod-qty input::-webkit-outer-spin-button,
.cart-prod-qty input::-webkit-inner-spin-button {
  display: none;
}

.cart-prod-qty::after {
  content: "x";
  margin-left: 10px;
}

/* .cart-prod-price {} */
.cart-prod-price::after {
  content: "=";
  margin-left: 10px;
}

.cart-prod-sum {
  margin-right: 0;
}

.cart-prod-del {
  border: none;
  background: transparent;
  padding: 10px;
  font-size: 18px;
  color: silver;
  margin-left: 10px;
}

.cart-prod-del:hover {
  color: tomato;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
}

/* .cart-total span {} */
.cart-total span:first-child {
  margin-right: 10px;
}

/* .cart-total-value {}; */

/* modal-window */
.modal-window {
  position: fixed;
  z-index: 1000;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 50px;
  box-shadow: 5px 5px 15px rgba(0,0,0, .3);
  background: white;
}
.modal-window-content *{
  border: 1px solid silver;
  padding: 5px;
}
 .modal-window-close-btn{
  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;
}
/* -----
-block----- */
.add-item {
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 0;
}

.add-item img {
  width: 50px;
  height: 50px;
}

.add-product-block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
  width: 300px;

  padding: 10px;
}

.add-product-block label {
  border: none;
  padding: 0;
  margin: 5px;
}

.add-product-block input {
  border: 1px solid silver;
}
.add-product-close-btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.add-product-close-btn:hover{
  background-color: red;
  color: white;
}

/* ----valid-error-addproduct-block------ */
.valid-error-addproduct-block{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  z-index: 999999;

  padding: 50px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
  background: white;

  color: black;
}
.valid-error-addproduct-block-close-btn{
  position: absolute;
  top: 0;
  right: 0;

}

/* pagination */

.pagination{
font-size: 20;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
}

.page-manage{
  padding: 10px;
  cursor: pointer;
}
/* .page-prev{}
.page-next{} */
.pages{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page{
  padding: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}
.page:hover{
  border: 2px solid orange;
}
.page.active{
  background-color: rgb(255, 196, 0);
  color: white;
}

.silver-text{
  color: silver;
}


/* bigBlockProdInfo -------------*/
.bigBlockProdInfo.product{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);

  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bigBlockProdInfo img{
  max-width: 200px;
}
.bigBlockProdInfo *{
  padding: 5px;
}
.bigBlockProdInfo .bigBlockInfoContainer{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.bigBlockCloseBtn{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* editProdBlock------------------ */

.editProdBlock{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 

  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: column;
  padding: 10px;

  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);

}
.editProdBlock input{
  border: 1px solid silver;
}
.editProdBlockCloseBtn{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.editProdBlock *{
  padding: 5px;
  margin: 5px;
}